<h1>Eat-Da-Burger!</h1>

<div class="headingOne" id="leftside"><strong>Order Your Burger</strong></div><br>
<div class="listOne">
    <ol>
        {{#each burgers}}
        {{#unless this.devoured}}
        <li>
            <p><span class="label">{{this.burger_name}}</span><button data-id="{{this.id}}"
                    class="devour">Devour It!</button></p>
        </li>
        {{/unless}}
        {{/each}}
    </ol>
</div>

<div class="headingTwo" id="rightside"><strong>Burgers Devoured</strong></div><br>
<div class="listTwo">
    <ol>
        {{#each burgers}}
        {{#if this.devoured}}
        <li>
            <p><span class="label">{{this.burger_name}}</span></p>
        </li>
        {{/if}}
        {{/each}}
    </ol>
</div>

<form class="create-form">
    <div class="form-group">
        <label for="burger">Order Burger:</label>
        <input type="text" id="newbrgr" name="newbrgr">
    </div>

    <button type="submit">Submit</button>
    </button>

    <h4>Enter a burger you want to eat and click the "Submit" button.</h4>

</form>