<li>
    <span><strong>{{this.id}} - {{this.burger_name}}</strong></span>
    <button class="order-burger" id="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span>Devour It!</span>
    </button>
</li>